{% extends 'main/layoute.html' %}

{% block title %}
     <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

<h1>Проект: {{caption}}</h1>

<h3>Добро пожаловать на наш первый проект на Django, где мы создаем сайт, посвященный нашим любимым котикам!</h3>
<p>В этом проекте {{caption}} - мы используем популярный фреймворк Django, чтобы построить функциональный и красивый веб-сайт. Наш сайт включает следующие ключевые функции:</p>

<h3>Главная страница:</h3>
<p>Знакомит пользователей с нашим проектом и показывает последних добавленных котиков.</p>
<h4>Каталог котиков:</h4>
<p>Список всех котиков, доступных на сайте, с возможностью сортировки и фильтрации по различным критериям.
Страница котика: Подробная информация о каждом котике, включая фотографии, описание и особенности характера.
Добавление котиков: Административный раздел, где можно добавлять новых котиков и редактировать информацию о существующих.
Регистрация и авторизация: Пользователи могут регистрироваться и входить на сайт, чтобы оставлять комментарии и добавлять своих котиков.
Отзывы и комментарии: Возможность оставлять отзывы и комментарии о каждом котике, что способствует активному взаимодействию пользователей.
Наш проект "CatDjango" создан с использованием Bootstrap для улучшения внешнего вида и удобства использования.
    Мы надеемся, что вам понравится наш сайт, и вы найдете здесь много интересного о котиках.
    Присоединяйтесь к нашему сообществу любителей котиков и делитесь своими историями и фотографиями!</p>
{% endblock %}
