{% extends 'main/layoute.html' %}

{% block title %}
     <title>новостная страница</title>
{% endblock %}

{% block content %}

<h1>новостная страница</h1>
  {% if news %}
    {% for new in news %}
       <div class="card">
				<div class="card" style="width: 30rem;">
					<div class="card-body">
						<h5 class="card-title">{{ new.title }}</h5>
						<p class="card-text">{{ new.short_description }} </p>
						<p class="card-text">{{ new.text }}</p>
						<p class="card-text">{{ new.pub_date }}</p>
						<p class="card-text">{{ new.username }}</p>
						<a href="#" class="btn btn-primary">Подробнее</a>
					</div>
				</div>
	   </div>
    {% endfor %}
  {% else %}
		<h4>Новостей ещё нет.</h4>
  {% endif %}
{% endblock %}
